@media screen and (max-width: 414px) and (orientation: portrait) {

.header {
    display: flex;
    flex-direction: column;
    height: 202vw;
    width: auto;
    }
.header-top-left {
    height: 78.43vw;
    width: 93.75vw;
}
.header-top-left img {
    height: 72.5vw;
    width: 202vw;
}
.header-down-left {
    /* overflow: hidden;
    display: flex;
    justify-content: center; */
    height: 31.25vw;
    width: 202vw;
}
.glazaa {
    position: relative;
    height: 31.25vw;
    width: 175vw;
    background-size: 835.625vw;
    left: -1.5%;
}
@keyframes glaza {
    /* 0%{
        margin-left: 1vw;
    } */
    100%{
        margin-top: 0.93vw;
        margin-left: 2vw;
        background-position: 835.625vw;
    }
}
.header-right {
    height: 88.125vw;
    width: 202vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-right img:nth-of-type(1) {
    width: 60.125vw;
    margin-left: -110vw;
}
.header-right img:nth-of-type(2) {
    width: 47vw;
    margin-left: -110vw;
}
.header-right img:nth-of-type(3) {
    width: 47vw;
    margin-left: -110vw;
}
.header-right img:nth-of-type(4) {
    width: 47vw;
    margin-left: -110vw;
}
.header-right img:nth-of-type(5) {
    width: 47vw;
    margin-left: -110vw;
}
.header-right img:nth-of-type(6) {
    margin-left: -110vw;
    width: 47vw;

}
.header-right img:nth-of-type(7) {
    margin-left: -110vw;
    width: 66.8vw;

}
.header-right img:nth-of-type(8) {
    margin-left: -110vw;
    width: 66.8vw;
}
}
