@font-face {
    font-family: 'Proxima-Nova';
    src: url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Proxima-Nova';
    src: url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
        url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Proxima-Nova';
    src: url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

